*{
    padding:0;
    margin:0;
}
body{
    background:#bc904f;
     color:blanchedalmond;
     
}
h3{
    text-align:center;
    color:blanchedalmond;
    text-align:center;
}
label,input,textarea{
    display:block;
    width:300px;
    
}
ul{
    list-style:none;
    margin:0;
    padding:0;

    
}


li{
    padding:0.3em;
 
}
span{
    font-size: 700;
    font-size:0.8rem;
    text-transform:uppercase;
}
.submit{
    background-color: #bc904f;
    color:white;
    font-weight:700;
    font-size:1.2rem;
    border-radius:5px;
    margin-top:1.3em;
}
.container{
    width:460px;
    margin:5em auto;
}
form{
    /* background-color: #fff; */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.required-star{
    color:red;
}
input,textarea{
    padding: 9px;
    border:1px solid #e1e2eb;
    color:#102a43;
    box-sizing: border-box;
    font-size :1rem;
    line-height:2rem;
    border-radius:3px;
}
.btn{
    background-color: #bc904f;
    color:white;
    
}